.container-mentions {
    display: flex;
    justify-content: center;
}

.ligne {
    position: absolute;
    left: 5%;
    border: 2px solid #8A579C;
    border-radius: 5px;
    width: 90vw;
    margin-top: 24px;
    margin-bottom: 33px;
}

.container-mentions p {
    margin-top: 90px;
    margin-bottom: 44px;
}

.footer-links {
    padding-top: 93px;
    display: flex;
    justify-content: center;
}

.footer-link {
    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Abel-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
    color: var(--violet);

/* identical to box height */

    letter-spacing: -0.025em;
    text-decoration-line: underline;
}

@media screen and (max-width: 550px) {
  .ligne {
    margin-top: 24px;
    margin-bottom: 0px;
}
  .footer-links {
    padding-top: 63px;
    padding-left: 16%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
  }
  .footer-link {
    font-size: 18px;
    font-size: 26px;
  }

  .container-mentions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-mentions p {
  margin-top: 40px;
  margin-bottom: 44px;
  padding: 10px;
}
}
